body {
    margin: 1.5rem;
    background: #89CFF0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", sans-serif;
}

h1 {
    text-align: center;
    padding: 1rem;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    padding: 0.625rem;
    background-color: #F089CF;
}

th{
    padding: 10px 15px;
}

.tableTitle {
    cursor: pointer;
}

button {
    background-color: #F089CF;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-right: 5%;
    float: right;
    font-size: 16px;
    border-radius: 12px;
    text-decoration: none;
    padding: 15px 32px;
}

button:hover {
    background-color: #CA55A4;
}